.navbar {
    padding: 12px;
    border-bottom: 1px solid #32323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.text {
    font-size: 28px;
}