* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
  outline: none;
}

body {
  padding: 24px;
}

h1 {
  color: #122357;
}

.heading {
  background-color: #efeffe;
}